<h1>Registered Brokers pending approval</h1>

<table>
    <% @brokers.each do |broker| %>
      <tr>
        <td><%= broker.email %>
        <td><%= broker.approved %>
        <td><%= button_to "Approve", approve_path(broker), method: :get %>
            <%= button_to "Reject", approve_path(broker), method: :delete %>
      </tr>
    <% end %>
</table>

