
<div class="overflow-x-auto ">
        <div class="min-w-screen min-h-screen bg-gray-100 flex items-start justify-center bg-gray-100 font-sans overflow-hidden">
            <div class="w-full lg:w-5/6 ">
            
                <div class="bg-white shadow-md rounded my-6 bg-gray-100">
                    <h1 class="text-center text-xl text-gray-200 font-semibold bg-gray-700 p-6">Select Available Brokers</h1>
                    <table class="min-w-max w-full table-auto ">
                        
                        <thead>
                            <tr class="text-gray-600 uppercase text-sm leading-normal rounded-lg shadow-lg">
                                
                                <th class="py-3 px-6 text-center">Broker ID</th>
                                <th class="py-3 px-6 text-center">Broker USERNAME</th>      
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                            <% @brokers.each do |broker| %>
                            <tr class="border-b border-gray-200 hover:bg-gray-300">
                               
                                
                                <td class="py-3 px-6 text-left whitespace-nowrap">
                                    <div class="flex items-center justify-center">
                                        
                                        <span class="font-medium"><%= broker.id %></span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-left whitespace-nowrap">
                                  <div class="flex items-center justify-center">
                                      <%= button_to broker.username, broker_stocklist_path(broker), method: :get, class: 'bg-gray-100 bg-opacity-0 text-gray-800 font-semibold py-3 px-14 ' %>
                                  </div>
                                </td>
                            </tr>
                        </tbody>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
</div>

